*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
main{
    min-height:80vh
}
footer{
    position: relative;
    padding-top: 4%;
    padding-bottom: 15%;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 95%);
    text-align: center;
    left: 0; 
    right: 0;
    bottom: 0;
    font-size: 2.5vmin;
}
.contact__form{
    padding: 10% 15% 8%;
}

a {
    
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s linear;
}
a:hover{
    color: #e0ff00;
}
.main__index{
    padding-top: 8%;
}
.text__index{
    font-size: 3vmin;    
    text-align: justify;
}
.text__about{
    font-size: 3vmin;
    text-align: justify;
    padding-top: 5%;
}
.nav__button:hover{
    background-color: rgba(137, 43, 226, 0.566);
    border-radius: 0.25rem;
    transition: all 0.7s linear;
}
.card__content{
    height: 60vh;
}